In [1]:
import pandas as pd

df = pd.read_excel(r'C:\Users\Lara\Documents\Ironhack\Course\Mini Projects\Mini project 4\gold_supply.xlsx')
df.head()

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Mine production,2754.465101,2876.861923,2957.201294,3166.766970,3270.499864,3361.310292,3515.236773,3575.707319,3655.869404,3596.424597,3482.042594,3576.463744,3624.825513,3644.407767
1,Net producer hedging,-108.808409,22.525497,-45.315364,-27.939442,104.907298,12.891945,37.634305,-25.520056,-11.637595,6.155989,-39.074474,-5.351157,-13.114321,17.022108
2,Recycled gold,1671.163847,1626.331320,1636.762755,1195.308331,1129.588570,1067.074981,1232.142588,1112.392781,1131.697574,1275.657508,1293.055421,1136.160101,1140.139715,1237.335843
3,Total supply,4316.820540,4525.718740,4548.648686,4334.135859,4504.995732,4441.277218,4785.013667,4662.580044,4775.929384,4878.238094,4736.023541,4707.272687,4751.850906,4898.765718

In [2]:
df.rename(columns= {'Unnamed: 0': 'year'}, inplace=True)
df

,year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Mine production,2754.465101,2876.861923,2957.201294,3166.766970,3270.499864,3361.310292,3515.236773,3575.707319,3655.869404,3596.424597,3482.042594,3576.463744,3624.825513,3644.407767
1,Net producer hedging,-108.808409,22.525497,-45.315364,-27.939442,104.907298,12.891945,37.634305,-25.520056,-11.637595,6.155989,-39.074474,-5.351157,-13.114321,17.022108
2,Recycled gold,1671.163847,1626.331320,1636.762755,1195.308331,1129.588570,1067.074981,1232.142588,1112.392781,1131.697574,1275.657508,1293.055421,1136.160101,1140.139715,1237.335843
3,Total supply,4316.820540,4525.718740,4548.648686,4334.135859,4504.995732,4441.277218,4785.013667,4662.580044,4775.929384,4878.238094,4736.023541,4707.272687,4751.850906,4898.765718

In [3]:
df_supply = df.T
df_supply

                    0                     1              2             3
year  Mine production  Net producer hedging  Recycled gold  Total supply
2010      2754.465101           -108.808409    1671.163847    4316.82054
2011      2876.861923             22.525497     1626.33132    4525.71874
2012      2957.201294            -45.315364    1636.762755   4548.648686
2013       3166.76697            -27.939442    1195.308331   4334.135859
2014      3270.499864            104.907298     1129.58857   4504.995732
2015      3361.310292             12.891945    1067.074981   4441.277218
2016      3515.236773             37.634305    1232.142588   4785.013667
2017      3575.707319            -25.520056    1112.392781   4662.580044
2018      3655.869404            -11.637595    1131.697574   4775.929384
2019      3596.424597              6.155989    1275.657508   4878.238094
2020      3482.042594            -39.074474    1293.055421   4736.023541
2021      3576.463744             -5.351157    1136.160101   4707.272687
2022      3624.825513            -13.114321    1140.139715   4751.850906
2023      3644.407767             17.022108    1237.335843   4898.765718

In [4]:
df_supply.rename(columns= {0:'Mine production',1:'Net producer hedging', 2:'Recycled gold',3:'Total supply'}, inplace=True)
df_supply.reset_index()

   index  Mine production  Net producer hedging  Recycled gold  Total supply
0   year  Mine production  Net producer hedging  Recycled gold  Total supply
1   2010      2754.465101           -108.808409    1671.163847    4316.82054
2   2011      2876.861923             22.525497     1626.33132    4525.71874
3   2012      2957.201294            -45.315364    1636.762755   4548.648686
4   2013       3166.76697            -27.939442    1195.308331   4334.135859
5   2014      3270.499864            104.907298     1129.58857   4504.995732
6   2015      3361.310292             12.891945    1067.074981   4441.277218
7   2016      3515.236773             37.634305    1232.142588   4785.013667
8   2017      3575.707319            -25.520056    1112.392781   4662.580044
9   2018      3655.869404            -11.637595    1131.697574   4775.929384
10  2019      3596.424597              6.155989    1275.657508   4878.238094
11  2020      3482.042594            -39.074474    1293.055421   4736.023541
12  2021      3576.463744             -5.351157    1136.160101   4707.272687
13  2022      3624.825513            -13.114321    1140.139715   4751.850906
14  2023      3644.407767             17.022108    1237.335843   4898.765718

In [5]:
df_supply_1 = df_supply.T

In [6]:
df_supply_1.drop(columns = ["year"], inplace = True)

In [11]:
df_supply_2 = df_supply_1.T
df_supply_2

     Mine production Net producer hedging Recycled gold Total supply
2010     2754.465101          -108.808409   1671.163847   4316.82054
2011     2876.861923            22.525497    1626.33132   4525.71874
2012     2957.201294           -45.315364   1636.762755  4548.648686
2013      3166.76697           -27.939442   1195.308331  4334.135859
2014     3270.499864           104.907298    1129.58857  4504.995732
2015     3361.310292            12.891945   1067.074981  4441.277218
2016     3515.236773            37.634305   1232.142588  4785.013667
2017     3575.707319           -25.520056   1112.392781  4662.580044
2018     3655.869404           -11.637595   1131.697574  4775.929384
2019     3596.424597             6.155989   1275.657508  4878.238094
2020     3482.042594           -39.074474   1293.055421  4736.023541
2021     3576.463744            -5.351157   1136.160101  4707.272687
2022     3624.825513           -13.114321   1140.139715  4751.850906
2023     3644.407767            17.022108   1237.335843  4898.765718

In [17]:
df_supply_2.reset_index(inplace = True)

In [18]:
df_supply_2.rename(columns= {'index':'year'}, inplace=True)
df_supply_2

    year Mine production Net producer hedging Recycled gold Total supply
0   2010     2754.465101          -108.808409   1671.163847   4316.82054
1   2011     2876.861923            22.525497    1626.33132   4525.71874
2   2012     2957.201294           -45.315364   1636.762755  4548.648686
3   2013      3166.76697           -27.939442   1195.308331  4334.135859
4   2014     3270.499864           104.907298    1129.58857  4504.995732
5   2015     3361.310292            12.891945   1067.074981  4441.277218
6   2016     3515.236773            37.634305   1232.142588  4785.013667
7   2017     3575.707319           -25.520056   1112.392781  4662.580044
8   2018     3655.869404           -11.637595   1131.697574  4775.929384
9   2019     3596.424597             6.155989   1275.657508  4878.238094
10  2020     3482.042594           -39.074474   1293.055421  4736.023541
11  2021     3576.463744            -5.351157   1136.160101  4707.272687
12  2022     3624.825513           -13.114321   1140.139715  4751.850906
13  2023     3644.407767            17.022108   1237.335843  4898.765718

In [22]:
df_supply_2.columns = [col.lower() for col in df_supply_2.columns]
df_supply_2.columns = [col.replace(" ","_") for col in df_supply_2.columns]
df_supply_2

    year mine_production net_producer_hedging recycled_gold total_supply
0   2010     2754.465101          -108.808409   1671.163847   4316.82054
1   2011     2876.861923            22.525497    1626.33132   4525.71874
2   2012     2957.201294           -45.315364   1636.762755  4548.648686
3   2013      3166.76697           -27.939442   1195.308331  4334.135859
4   2014     3270.499864           104.907298    1129.58857  4504.995732
5   2015     3361.310292            12.891945   1067.074981  4441.277218
6   2016     3515.236773            37.634305   1232.142588  4785.013667
7   2017     3575.707319           -25.520056   1112.392781  4662.580044
8   2018     3655.869404           -11.637595   1131.697574  4775.929384
9   2019     3596.424597             6.155989   1275.657508  4878.238094
10  2020     3482.042594           -39.074474   1293.055421  4736.023541
11  2021     3576.463744            -5.351157   1136.160101  4707.272687
12  2022     3624.825513           -13.114321   1140.139715  4751.850906
13  2023     3644.407767            17.022108   1237.335843  4898.765718

In [23]:
df_supply_2.isnull().sum()

year                    0
mine_production         0
net_producer_hedging    0
recycled_gold           0
total_supply            0
dtype: int64

In [28]:
df_supply_2 = df_supply_2.astype(float)
round_supply = df_supply_2.round(decimals=2)

In [30]:
round_supply ['year'] = round_supply['year'].astype(int)
round_supply

    year  mine_production  net_producer_hedging  recycled_gold  total_supply
0   2010          2754.47               -108.81        1671.16       4316.82
1   2011          2876.86                 22.53        1626.33       4525.72
2   2012          2957.20                -45.32        1636.76       4548.65
3   2013          3166.77                -27.94        1195.31       4334.14
4   2014          3270.50                104.91        1129.59       4505.00
5   2015          3361.31                 12.89        1067.07       4441.28
6   2016          3515.24                 37.63        1232.14       4785.01
7   2017          3575.71                -25.52        1112.39       4662.58
8   2018          3655.87                -11.64        1131.70       4775.93
9   2019          3596.42                  6.16        1275.66       4878.24
10  2020          3482.04                -39.07        1293.06       4736.02
11  2021          3576.46                 -5.35        1136.16       4707.27
12  2022          3624.83                -13.11        1140.14       4751.85
13  2023          3644.41                 17.02        1237.34       4898.77

In [32]:
df_supply_2.to_csv("gold_supply.csv")